# Data and Math
pandas
numpy
yfinance
pandas-datareader
lxml
html5lib

# Technical Analysis and ML
pandas-ta-classic
scikit-learn
statsmodels

# Optimization and Charts
PyPortfolioOpt
matplotlib

# Web App and AI
streamlit
google-generativeai
